.card
	h1 3D Button with Shading (Experiment)
	div
		button.btn Default
		button.btn.btn-info Information
		button.btn.btn-success Success
		button.btn.btn-warning Warning
		button.btn.btn-error Error
		button.btn.btn-dark Dark
		//- Custom style by setting the prepared variables
		button.btn(style="--color: #ffffff; --background-color: #ff4081; --border-color: #ec407a;") Jelly beans
